---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: pttg-fs-service
  labels:
    version: {{.VERSION}}
spec:
  replicas: 2
  selector:
    matchLabels:
      name: pttg-fs-service
  strategy:
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 2
    type: RollingUpdate
  template:
    metadata:
      labels:
        name: pttg-fs-service
        version: {{.VERSION}}
    spec:
      imagePullSecrets:
      - name: registrykey
      containers:
      - name: vault-sidekick
        image: quay.io/ukhomeofficedigital/vault-sidekick:v0.2.0
        imagePullPolicy: Always
        resources:
         limits:
          memory: "100Mi"
          cpu: 100m
         requests:
          memory: "50Mi"
          cpu: 100m
        args:
          - -output=/etc/nginx/secrets
          - -tls-skip-verify=true
          - -cn=pki:services/${NAMESPACE}/pki/issue/default:common_name=pttg-fs-service.${NAMESPACE}.svc.cluster.local,file=/etc/nginx/secrets/pttg-fs-service,fmt=bundle
        env:
          - name: VAULT_ADDR
            value: "https://vault.vault.svc.cluster.local:8200"
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: VAULT_TOKEN
            valueFrom:
              secretKeyRef:
                name: store-token
                key: token
        volumeMounts:
          - mountPath: /etc/nginx/secrets
            name: secrets
      - name: proxy
        image: quay.io/ukhomeofficedigital/nginx-proxy:v1.5.1
        imagePullPolicy: Always
        resources:
         limits:
          memory: "100Mi"
          cpu: 100m
         requests:
          memory: "50Mi"
          cpu: 100m
        env:
          - name: PROXY_SERVICE_HOST
            value: '127.0.0.1'
          - name: PROXY_SERVICE_PORT
            value: '8080'
          - name: NAXSI_USE_DEFAULT_RULES
            value: 'FALSE'
          - name: ENABLE_UUID_PARAM
            value: 'FALSE'
          - name: HTTPS_REDIRECT
            value: 'FALSE'
          - name: SERVER_CERT
            value: /etc/nginx/secrets/pttg-fs-service-bundle.pem
          - name: SERVER_KEY
            value: /etc/nginx/secrets/pttg-fs-service-key.pem
        volumeMounts:
          - name: secrets
            mountPath: /etc/nginx/secrets
            readOnly: true
        ports:
          - name: https
            containerPort: 443
          - name: http
            containerPort: 80
      - name: keycloak-proxy
        image: quay.io/ukhomeofficedigital/go-keycloak-proxy:v1.2.7
        args:
          - --config=/etc/secrets/keycloak-api-secret.yaml
          - --discovery-url=https://sso.digital.homeoffice.gov.uk/auth/realms/pttg-dev
          - --client-id=pttg-fs-{{.ENVIRONMENT}}
          - --listen=127.0.0.1:9000
          - --log-requests=true
          - --json-logging=true
          - --upstream-url=http://127.0.0.1:8080
          - --no-redirects=false
          - --redirection-url=https://pttg-fs-ui-{{.ENVIRONMENT}}.notprod.homeoffice.gov.uk
          - --cors-origins='*'
          - --resource=uri=/healthz|white-listed=true
          - --resource=uri=/|methods=GET|roles=pttg-user
          - --secure-cookie=true
          - --verbose
        imagePullPolicy: Always
        ports:
          - name: keycloak-http
            containerPort: 9000
        volumeMounts:
        - name: keycloak-api-secret
          mountPath: /etc/secrets
          readOnly: true
        resources:
          limits:
            memory: 256Mi
            cpu: 100m
      - name: pttg-fs-service
        image: quay.io/ukhomeofficedigital/pttg-fs-service:{{.VERSION}}
        env:
          - name: JAVA_OPTS
            value: '-Xms150m -Xmx250m'
          - name: SERVER_PORT
            value: '8080'
          - name: BARCLAYS_SERVICE_URL
            value: 'http://pttg-fs-barclays'
          - name: AUDITING_MONGODB_HOST
            value: 'pttg-mongodb.pt-i-{{.ENVIRONMENT}}.svc.cluster.local'
          - name: AUDITING_DEPLOYMENT_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: AUDITING_DEPLOYMENT_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
        resources:
          limits:
            cpu: 400m
            memory: 612Mi
          requests:
            cpu: 200m
            memory: 484Mi
        ports:
          - name: http
            containerPort: 8080
        livenessProbe:
          httpGet:
            path: /healthz
            port: http
            httpHeaders:
              - name: X-probe
                value: kubelet
          initialDelaySeconds: 240
          periodSeconds: 20
          timeoutSeconds: 10
        readinessProbe:
          httpGet:
            path: /healthz
            port: http
            httpHeaders:
              - name: X-probe
                value: kubelet
          periodSeconds: 20
          timeoutSeconds: 5
        imagePullPolicy: Always
      volumes:
      - name: secrets
        emptyDir:
          medium: "Memory"
      - name: keycloak-api-secret
        secret:
          secretName: keycloak-api-secret